<html>
    <head>
        <title>about us</title>
        <link rel="stylesheet" href="index3.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- bootstrap links -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <script src="https://kit.fontawesome.com/b754d9a8d3.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    
    <body class="type3" style="overflow-x: hidden;">
        <section id="head3">
        <nav class="navbar navbar-expand-lg  navbar-light">
            <a class="navbar-brand fst-italic fs-1"> <b>ABOUT US</b> </a>
          </div>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Demo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="Demo02">
       
        <ul class="navbar-nav ml-auto nh">
            <li class="nav-item">
                <a class="nav-link "href="/"> HOME </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"href="/toc">  TYPES OF CASHEW </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link"href="/store">  PRODUCT STORE </a>
            </li>
        </ul>
        </div>
     
    </nav>
    </section>
    
    <img class="img-thumbnail img1"src="green.jpeg" alt="" style="width: 50%;height: 50%;">
    <div class="container">
        <p id="content">The word cashew comes from the Tupi-Indian word Acaju, which just means “nut”. Instead of growing like conventional nuts, they grow out of the base of cashew apples like little tails. For this reason, 
            they are the only nut sold solely unshelled because the outer shell causes skin irritation.
    
        The seed is surrounded by a double shell containing an allergenic phenolic resin containing a anacardic acid. This composition is a potent skin irritant. Chemically, this resin is related to the more well known allergenic, oil urushiol, which is also a toxin found in poison ivy. Some people are allergic to cashew nuts. What is much more common is the allergy to outer coating on the skin of the fruit.
   
     The cashew was first discovered by Europeans in Brazil around 1558. Because of the irritating shells, they were thought to be inedible at first. Over time it was realized that it was the fruit skin and not the seeds that were irritating. It was the local native tribe, the Tupi-Indians, that showed the Europeans otherwise. The Portuguese were given instructions on how to roast the cashews to get the irritant off.</p>
    </div>
    <img class="img-thumbnail img2"src="img3.jpeg" alt="" style="width: 50%;height: 50%;">
    <div class="container c2">
        <p class="content">
            The cashew is a boxing glove shape nut that grows at the end of the cashew apple. Unlike other nuts, cashews don't grow within the fruit, it grows on the outside and hangs from the bottom of the apple. The cashew apple is a fruit from the cashew tree which is native to northeastern Brazil.
        </p>
    </div>
    
    <section class="foot">
      <footer id="footer">
        <p id="ct" class="fa-solid fa-square-phone ph">Contact -1234567890</p>
        <p id="em" class="fa-solid fa-envelope">Email-cashewnut@gmail.com</p>
        <i class="social-icon fab fa-instagram"></i>
        <i class="social-icon fab fa-twitter-square"></i>
        <i class="social-icon fab fa-facebook-square"></i>
        <i class="social-icon far fa-envelope"></i>
        <p> copyright 2021 Vishnu T</p>
      </footer>
     </section>

    
</body>
</html>