
<html>
    <head>
        <link rel="stylesheet" href="index2.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
       <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
       <script src="https://kit.fontawesome.com/b754d9a8d3.js" crossorigin="anonymous"></script>
       <!-- -------------googlefonts------------------------------------------------ -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap" rel="stylesheet">
</head>
    <title>homepage</title>
    <body style="overflow-x: hidden;">

      <!-- nav -->
        <section class="head">
        <nav class="navbar navbar-expand-lg  navbar-light ">
            <a class="navbar-brand fs-1">Cashew Heaven<i class="fa-solid fa-crown cr1"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Demo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                
              <div class="collapse navbar-collapse" id="Demo02">
           
            <ul class="navbar-nav ml-auto nh">
                <li class="nav-item active1">
                    <a class="nav-link "  href="/"> HOME </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="/toc">  TYPES OF CASHEW </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="/signup"> SIGN UP </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"href="/store">  PRODUCT STORE </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"href="/aboutus"> ABOUT US </a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 ABOUT US
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">HISTORY</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">PROCESSING</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">MANAGENMENT</a></li>
                </ul>
              </li> -->
            </ul>
            </div>
        </nav>
        </section>
        
        <!-- roller -->
          <div id=tittle> 
            <marquee behavior="alternate"><span class="marquee"><h3>PRICE WHAT YOU PAY ! VALUE IS WHAT YOU GET!! </h3></span></marquee> 
          </div>
              
          <!-- Coroser -->
       <section class="testimonials text-center">

            <div id="testimonial-carousel" class="carousel slide" data-ride="false">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                     <!-- <h2 class="testimonial-text"></h2class>The cashew tree is a tropical evergreen tree that produces the cashew seed and the cashew apple accessory fruit </h2>  -->
                    <img class="testimonial-image " src="cultfitofficial-___CQqfekbrHzS___-2.jpg" alt="cashew furits">
                  </div>
                  <div class="carousel-item">
                      <!-- <h2 class="testimonial-text">It is also claimed for numerous ailments including antitumor, antimicrobial, urease inhibitory and lipoxygenase activity. In addition, cashew apple juice also has excellent anti-oxidant potential</h2> -->
                    <img class="testimonial-image " src="cultfitofficial-___CQqfekbrHzS___-3.jpg" alt="cashew furits">
                  </div>
                  <div class="carousel-item">
                    <!-- <h2 class="testimonial-text">Cashews are low in sugar and rich in fiber, heart-healthy fats, and plant protein. They're also a good source of copper, magnesium, and manganese — nutrients important for energy production, brain health, immunity, and bone health.</h2> -->
                    <img class="testimonial-image " src="cultfitofficial-___CQqfekbrHzS___-5.jpg"alt="cashew furits">
                  </div>
                  <div class="carousel-item">
                    <!-- <h2 class="testimonial-text">Cashews are low in sugar and rich in fiber, heart-healthy fats, and plant protein. They're also a good source of copper, magnesium, and manganese — nutrients important for energy production, brain health, immunity, and bone health.</h2> -->
                    <img class="testimonial-image " src="cultfitofficial-___CQqfekbrHzS___-4.jpg"alt="cashew furits">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#testimonial-carousel" role="button"  data-slide="prev">
                  <span class="carousel-control-prev-icon " aria-hidden="true"></span>
                  
                </a>
                <a class="carousel-control-next" href="#testimonial-carousel" role="button"  data-slide="next">
                  <span class="carousel-control-next-icon text-primary" aria-hidden="true"></span>
                </a>
              </div>
        </section>


      
        <section id="features">

          <!-- Box -->
          <div class="row container-fluid">
            
          <div class="feature-box  col-lg-4">
            <i class="icon fas fa-heart fa-4x"></i>
          <h3> Eat Healthy Stay Healthy</h3>
            <p>So HEALTHY ,DAILY EAT 3 NUTS  STAY HEALTHLY.</p>
          
          </div>
          
          <div class="feature-box  col-lg-4">
            <i class="icon fas fa-bullseye fa-4x"></i>
        <h3>Standard Products</h3> 
        <td ><p>We have all the type of cashew , BEST QULATIY cashew.</p></td>
          
          </div>
          
          <div class="feature-box  col-lg-4">
            <i class="icon far fa-check-circle fa-4x"></i>
          <h3>Guaranteed to work.</h3>
          <p>if you do not like the taste and flavour your money back</p>
          
          </div>
          
          
          </div>
      
          <!-- footer -->
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom foot">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
      
          <!-- Right -->
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
      
        <!-- Section: Links  -->
        <section class="footer">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>V-Nuts
                </h6>
                <p>
                  Here you can use rows and columns to organize your footer content. Lorem ipsum
                  dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Products
                </h6>
                <p>
                  <a href="#!" class="text-reset">Cashew Nuts</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Almonds</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Pista</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Walnuts</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Useful links
                </h6>
                <p>
                  <a href="#!" class="text-reset">Pricing</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Settings</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Orders</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Contact
                </h6>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  Cashew_heaven@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
      
        <!-- Copyright -->
        <div class="text-center p-4 cr " style="background-color: rgb(9, 15, 105);"></div>
         
          © 2022 Copyright:
          <a class="text-reset text-dark fw-bold">Cashew Heaven.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
     </section>
    </body>
</html>