<html>
<head>
    <title>TYPES OF CASHEWS</title>
    
    <meta charset="utf-8">
          <!-- bootstrap links -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <link rel="stylesheet" href="index3.css">
 
</head>
<body class="type" style="overflow-x: hidden;">
    <section id="head1">
      <!-- <nav class="navbar navbar-default ">
        <div class="container-fluid ">
          <div class="navbar-header ">
            <a class="navbar-brand fs-1">TYPE OF CASHEW</a>
          </div>
        </div>
      </nav> -->
      <nav class="navbar navbar-expand-lg  navbar-light ">
        <a class="navbar-brand fst-italic fs-1"><b>GRADES OF CASHEW</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Demo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            
          <div class="collapse navbar-collapse" id="Demo02">
       
        <ul class="navbar-nav ml-auto nh">
            <li class="nav-item ">
                <a class="nav-link "href="/"> HOME </a>
            </li>
            <li class="nav-item active1">
                <a class="nav-link"href="/toc">  TYPES OF CASHEW </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"href="/store">  PRODUCT STORE </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"href="/aboutus"> ABOUT US </a>
          </li>
        </ul>
        </div>
    </nav>
    </section>    
    
        <div class="row border border-dark wraperWhole">
          <!-- <div class="container-fluid"> -->
       <!-- <div id="type1"> -->
          <strong>1. CASHEW KERNELS - WHITE WHOLES</strong>
          <p class="text-centre">A cashew kernel is classified as a whole if it has the characteristic shape of a cashew kernel and not more than 1/8th of the kernel has been broken off.<br>This grade may also be designated as W.An excessive number of 7/8th kernels or splits that detract from the appearance of the sampled lot may be the basis for the claim.</p>
          <div class="col-lg-3 col-md-3 col-sm-5">
          <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
          <p>White Wholes - 180</p>
        </div>  
        <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
          <img  class="img-thumbnail"src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
          <p>White Wholes - 210</p>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
          <img class="img-thumbnail"src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
          <p>White Wholes - 240</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5">
          <img  class="img-thumbnail"src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="Italian Trulli" style="width: 150px;height: 122px;">
          <p>White Wholes - 320</p>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
          <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="Italian Trulli" style="width: 150px;height: 122px;">
          <p>White Wholes - 450</p>
        </div>
        <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
          <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="Italian Trulli" style="width: 150px;height: 122px;">
          <p>White Wholes - 500</p>
        </div>
    
  </div> 
   <!-- -------------------------------------CASHEW KERNELS - SCORCHED WHOLES------------------------- -->
   <!-- <div id="type2"> -->
    <div class="row">
   <strong>2. CASHEW KERNELS - SCORCHED WHOLES</strong><br>
   <p>Scorched wholes are another grade of cashew kernels, which have a slight brown colour due to longer roasting.<br>They have all the other characteristics of white kernels and have the same nutritional qualities</p>
   <div class="col-lg-3 col-md-3 col-sm-5">
    <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="Italian Trulli" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW</p> 
   </div>
   <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
    <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="Italian Trulli" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW - 180</p> 
   </div>
   
   <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
    <img  class="img-thumbnail"src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW- 210</p>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-5">
    <img class="img-thumbnail"src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW - 240</p>
   </div>
   <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
    <img  class="img-thumbnail"src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW - 320</p>
   </div>
   <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
    <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW - 450</p>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-5">
    <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
    <p>Scorched Wholes SW- 500</p>
   </div>
   </div>
  <!-- </div> -->
   <!-- --------------------------------------3. CASHEW KERNELS - DESSERT WHOLES----------------------------  -->
   <!-- <div id="type3"> -->
    <div class="row">
    <strong>3. CASHEW KERNELS - DESSERT WHOLES</strong><br>
    <p>Trade Name: Dessert Wholes. Color/Characteristic: Kernels may be deep scorched, deep brown, deep blue, speckled, discolored and black spotted. Characteristic shape.</p>
    <div class="col-lg-3 col-md-3 col-sm-5">
      <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Scorched Wholes Seconds</p>
     </div>
     <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
      <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Dessert Wholes DW</p>
     </div>
   </div>  
   <!-- --------------------------------------------4. CASHEW KERNELS - WHITE PIECES--------------------------- -->
   <div class="row">
   <strong>4. CASHEW KERNELS - WHITE PIECES</strong>  <br>
   <div class="col-lg-3 col-md-3 col-sm-5">
     <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Butts B</p>
     </div>
     <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
      <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Splits S	</p>
      </div>
      <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
      <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Large White Pieces (LWP)</p>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-5">
      <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Small White Pieces (SWP)	</p>
      
     </div>
     <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
      <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
      <p>Baby Bits BB</p>
     </div>
   </div>
   <!-- --------------------------------------------------- 5. CASHEW KERNELS - SCORCHED PIECES----------------------------------- -->
   <div class="row">
   <strong>5. CASHEW KERNELS - SCORCHED PIECES</strong>  <br>
   <div class="col-lg-3 col-md-3 col-sm-5">
    <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
     <p>Scorched Butts SB</p>
    </div>
    <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
     <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
     <p>Scorched Splits SS</p>
     </div>
     <div class="col-lg-3 offset-lg-1 col-md-3 col-sm-5">
     <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
     <p>Scorched Pieces SP</p>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5">
     <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
     <p>Scorched Small Pieces SSP	</p>
    </div>
  </div>
   <!-- ---------------------------------------------6. CASHEW KERNELS - DESSERT PIECES----------------------------- -->
   <div class="row">
   <strong>6. CASHEW KERNELS - DESSERT PIECES</strong><br>
   <!-- <div> -->
 <div class="col-lg-3 col-md-3 col-sm-5">
  <img class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
  <p>Scorched Pieces Seconds (SPS)</p>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-5">
  <img  class="img-thumbnail" src="CASHEW-KERNELS-WHITE-PIECES.jpg" alt="" style="width: 150px;height: 122px;">
  <p>Dessert Pieces DP</p>
 </div>
    </div>    
     </div>
    
  
    
</body>
</html>